@font-face {
  font-family: 'HarrisFont';
  src: url('HarrisFont/EOT/ATCHarris-Thin.eot'); /* IE9 Compat Modes */
  src: url('HarrisFont/WOFF2/ATCHarris-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('HarrisFont/WOFF/ATCHarris-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('HarrisFont/OTF/ATCHarris-Thin.otf')  format('opentype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HarrisFont';
  font-style: italic;
  src: url('HarrisFont/EOT/ATCHarris-ThinSlanted.eot'); /* IE9 Compat Modes */
  src: url('HarrisFont/WOFF2/ATCHarris-ThinSlanted.woff2') format('woff2'),  Super Modern Browsers 
       url('HarrisFont/WOFF/ATCHarris-ThinSlanted.woff') format('woff'), /* Pretty Modern Browsers */
       url('HarrisFont/OTF/ATCHarris-ThinSlanted.otf')  format('opentype'); /* Safari, Android, iOS */
}

body {
	background: fixed center center;
    background-image: url("img/image.png");
    background-color: #cccccc;
    background-size: cover;
    font-family: 'HarrisFont';
}
#line{
  left:0%;
  height: 1.5px;
  width:30px;
  background-color: #00ffcc;
}
.logo{
  max-width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p, p a  {
    text-decoration: none;
    color: white;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'HarrisFont';
    letter-spacing: -.05em;
    word-spacing: -.2em;
}

#socmed{
  left:97%;
  max-height: 300px;
  width:30px;
  padding-right: 10px;
}
.sm{
  max-width: 25px;
  padding: 10px;
}
