@font-face {
	font-family: 'HarrisFont';
	src: url('HarrisFont/EOT/ATCHarris-Thin.eot'); /* IE9 Compat Modes */
	src: url('HarrisFont/WOFF2/ATCHarris-Thin.woff2') format('woff2'), /* Super Modern Browsers */
	     url('HarrisFont/WOFF/ATCHarris-Thin.woff') format('woff'), /* Pretty Modern Browsers */
	     url('HarrisFont/OTF/ATCHarris-Thin.otf')  format('opentype'); /* Safari, Android, iOS */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HarrisFont';
	src: url('HarrisFont/EOT/ATCHarris-RegularSlanted.eot'); /* IE9 Compat Modes */
	src: url('HarrisFont/WOFF2/ATCHarris-RegularSlanted.woff2') format('woff2'), /* Super Modern Browsers */
	     url('HarrisFont/WOFF/ATCHarris-RegularSlanted.woff') format('woff'), /* Pretty Modern Browsers */
	     url('HarrisFont/OTF/ATCHarris-RegularSlanted.otf')  format('opentype'); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: italic;
}

body {
	background: fixed center center;
	background-image: url("img/image.png");
	background-color: #cccccc;
	background-size: cover;
	font-family: 'HarrisFont';
	text-align: center;
	color: white;

	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}

.logo {
	display: block;
	margin: 50px auto;
	max-width: 30px;
}

#middle{
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-55%);
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
	margin: 30px auto 0;
	left: 0;
	right: 0;
}

.meta {
	font-style: italic;
	font-size: 12px;
	letter-spacing: .075em;
	font-weight: bold;
}

p {
	margin: 30px 0;
	font-weight: 300;
	font-size: 60px;
	letter-spacing: -.05em;
	word-spacing: -.2em;
}

/*ICONS*/

.social-item {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 40px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: all 1s ease;
}

.social-item:hover {
	border-color: white;
	color: #0fc;
}

.social-item svg {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 20px;
	transform: translate(-50%, -50%);
}


/* LEFT TO RIGHT AND SKEW*/
p a {
	position: relative;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	line-height: 1.4;
	backface-visibility: hidden;
	-ms-transition: -ms-transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

p a:after {
	position: absolute;
	left: 0;
	bottom: 10px;
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width 1s ease, background-color 1s ease;
}

p a:hover:after {
	width: 100%;
	background: white;
}

p a:hover{
	color: #00ffcc;
	-ms-transform: skewX(-10deg); /* IE 9 */
	-webkit-transform: skewX(-10deg); /* Safari */
	transform: skewX(-10deg);
}

@media only screen and (min-width: 600px){

	.logo { max-width: 35px; }

	#middle { margin-top: 70px; }

	.meta { font-size: 14px; }

	p {
		margin: 15px 0 50px;
		font-size: 80px;
	}
}
